.container{
    display: flex;
    background-color: purple;
}

.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}
.container div:nth-child(1){
    order: 2;
}

.container div:nth-child(2){
    order: 3;
}

.container div:nth-child(3){
    order: 0;
}

.container div:nth-child(4){
    order: 1;
}

.container2{
    display: flex;
    background-color: blue;
    flex-direction: column-reverse;
}

.container2 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

 /*flexgrow*/
.container3{
    display: flex;
    background-color: red;
    flex-direction: row;
}

.container3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container3 div:nth-child(1){
    flex-grow: 4;
}

.container3 div:nth-child(2){
    flex-grow: 4;
}

.container3 div:nth-child(3){
    flex-grow: 4;
}

.container3 div:nth-child(4){
    flex-grow: 4;
}
/*flex-wrap*/
.container4{
    display: flex;
    background-color: orange;
    flex-direction: wrap-reverse;
}

.container4 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 30%;
}
/*jusyfy-content*/
.container5{
    display: flex;
    background-color: yellow;
    flex-direction: row;
    justify-content: flex-end;
}


.container5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    
}
/*algin-items*/
.container6{
    display: flex;
    background-color: aliceblue;
    flex-direction: row;
      justify-content: space-around;
      align-items: center;
    
}


.container6 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    
}



    